.tooltip {
  position: relative;

  font-family: "Gill Sans", serif;

  margin-bottom: 12px;
  padding: 10px;

  max-width: 192px;
  min-width: 60px;

  color: #fff;

  background: #323137;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);

  &__label {
    position: relative;
  }

  &__arrow {
    position: absolute;
    right: 26px;
    bottom: -4px;

    margin-top: 150px;

    width: 30px;
    height: 30px;

    background-color: #323137;

    border-radius: 5px;

    transform: rotate(45deg) skew(3deg, 3deg);
  }

  &::before {
    content: '';

    position: absolute;
    z-index: 2;
    right: 47px;
    bottom: -5px;

    width: 6px;
    height: 6px;

    background: transparent;
    border-right: 2px solid #323137;
    border-top-right-radius: 25px;

    transform: rotate(-27deg);
  }

  &::after {
    content: '';

    position: absolute;
    z-index: 2;
    right: 27px;
    bottom: -5px;

    width: 6px;
    height: 6px;

    background: transparent;
    border-left: 2px solid #323137;
    border-top-left-radius: 25px;

    transform: rotate(27deg);
  }
}
