<div class="container">
    <!-- Form fields -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Form Fields</mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="fill" floatLabel='always'>
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel='always'>
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    <!-- Buttons -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Buttons</mat-card-title>
        </mat-card-header>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button>asd</button>
        <button mat-flat-button [loading]="true" color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
    </mat-card>


    <!-- Input -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Form Fields</mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="fill" floatLabel='always'>
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel='always'>
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    <!-- Selects -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Selects</mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="fill" floatLabel='always'>
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>

    <!-- Context menu -->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Context menu</mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="fill" floatLabel='always'>
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
</div>
