@import url('https://db.onlinewebfonts.com/c/5e8964a3ad15aac170f1c13c0e3afeba?family=GillSansWGL');
@import url('https://db.onlinewebfonts.com/c/5fc6f4fd75e944a52a342ab2c7f100f1?family=Montserrat');


/* Headers */
$header_font: 'Montserrat';
$regular_font: 'GillSansWGL';


/* Colors */
$colors: (
        'accent_color': #ffb78c,
        'secondary_focus': #fa7d57,
        'light_1': #fcfcfc,
        'bg': #f6f6f4,
        'light_3': #f1f1ef,
        'light_4': #cecece,
        'disabled': #9d9d9d,
        'main_text': #434348,
        'headers': #323137,
        'overtime': #bc7bfa,
        'alert': #eb5757,
        'success': #21d373,
        'success_secondary': #cdf4df,
        'blue': #56ccf2
);

.bg-color_blue {
  background-color: map-get($colors, 'blue');
}
